@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    height: 100vh;
    font-family: "Poppins";
}
#parent{
    height: calc(50% - 5px);
    width: 50%;
    margin: 50px;
    position: relative;
    padding: 0;
    border: 1px solid rgba(65, 65, 65, 0.267);
    border-radius: 10px;
    overflow: hidden;
}